<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="commInteriorDAO">
  <insert id="insertComm" parameterType="CommInteriorVO">
  		INSERT INTO COMMUNITY (COM_SEQ, TITLE, ID, NICKNAME, CONTENT, REGDATE, HIT, LIKES, TYPE)
  		VALUES ((COMMMUNITY_SEQ.NEXTVAL) + 1,
  			#{title}, #{id}, #{nickname}, #{content}, SYSDATE, 0, 0, 2)
  		INSERT INTO COMM_INTERIOR (TYPE, COM_SEQ, FILE_IMAGE)
  		VALUES (2, (select NVL(MAX(com_seq),0)from community),
  			#{file_image})
  </insert>
<!--  	<update id="update" parameterType="CommInteriorVO">
	  		UPDATE
	</update> -->
  
	<select id="InteriorAll" resultType="CommInteriorVO">
		SELECT C.COM_SEQ, C.TITLE, C.NICKNAME, C.CONTENT, C.REGDATE, C.HIT, C.LIKES, C.TYPE, I.FILE_IMAGE
		FROM COMMUNITY C, COMM_INTERIOR I
		WHERE C.COM_SEQ = I.COM_SEQ
	</select>
  
	<select id="getInteriorOne" resultType="CommInteriorVO">
		SELECT C.COM_SEQ, C.TITLE, C.NICKNAME, C.CONTENT, C.REGDATE, C.HIT, C.LIKES, C.TYPE, I.FILE_IMAGE
		FROM COMMUNITY C, COMM_INTERIOR I
		WHERE C.COM_SEQ = I.COM_SEQ
	</select>
  </mapper>