<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="commDAO">
  <insert id="insertAll" parameterType="String">
  		INSERT INTO COMMUNITY (COM_SEQ, TITLE, ID, CONTENT, REGDATE, HIT, LIKES, TYPE)
  		VALUES ((SELECT NVL(MAX(SEQ), 0) + 1 FROM COMMUNITY), 
  			#{title}, #{id}, #{content}, SYSDATE, #{hit}, #{likes}, #{type})
  		INSERT INTO COMM_INTERIOR (COM_SEQ, FILE_IMAGE, P_NUM)
  		VALUES (#{type}, (SELECT NVL(MAX(SEQ), 0) + 1 FROM COMM_INTERIOR), 
  			#{file_image}, #{p_num})
  </insert>
  
  </mapper>