<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="honjokInfoMapper">



	<insert id="insert" parameterType="CommInfoVO">
		{call
		declare
		begin
		INSERT INTO COMMUNITY(
		COM_SEQ,
		TITLE,
		ID,
		CONTENT,
		REGDATE,
		HIT,
		LIKES,
		TYPE,
		NICKNAME
		)
		values((SELECT NVL(MAX(com_seq), 0) + 1 FROM COMMUNITY),
		#{title}, #{id}, #{content}, SYSDATE,
		'0', '0', '1', #{nickname});
		INSERT INTO COMM_INFO
		VALUES((select NVL(MAX(com_seq),0) FROM COMMUNITY),0,#{adr},#{menu});
		END
		}
	</insert>


	<!-- insert end -->





	<select id="selectAll" resultType="CommunityVO"
		parameterType="Map">
		SELECT * FROM ( SELECT ROWNUM
		AS RECNUM,
		COM_SEQ,
		TITLE,
		ID,
		CONTENT,
		REGDATE,
		HIT,
		LIKES,
		TYPE FROM(SELECT COM_SEQ,
		TITLE,
		ID,
		CONTENT,
		REGDATE,
		HIT,
		NICKNAME,
		LIKES,TYPE FROM COMMUNITY WHERE type =
		'1' order by com_seq DESC))
		where RECNUM BETWEEN (#{section}-1)* 60 + (#{pageNum}-1)* 6 + 1
		AND (#{section} - 1)*60 + #{pageNum}*6 order by com_seq DESC
	</select>

	<select id="selectAllCount" resultType="Integer">
		select count(*)from
		community where type = '1'
	</select>



	<select id="select" resultType="CommInfoVO"
		parameterType="String">
		select C.* ,I.* from COMMUNITY  C, COMM_INFO I
		WHERE C.COM_SEQ = i.com_seq AND i.com_seq = #{com_seq}
	</select>


	<select id="selectCommInfoVO" resultType="CommInfoVO"
		parameterType="Map">
		SELECT * FROM (SELECT ROWNUM
		AS RECNUM,
		COM_SEQ,
		SUM_STAR,
		ADR,
		MENU FROM(SELECT * FROM COMM_INFO order by com_seq DESC))
		where RECNUM BETWEEN (#{section}-1)* 60 + (#{pageNum}-1)* 6 + 1
		AND (#{section} - 1)*60 + #{pageNum}*6 order by com_seq DESC
	</select>



	<!-- select end -->

	<delete id="delete" parameterType="String">
		DELETE COMMUNITY WHERE COM_SEQ
		= #{com_seq}
	</delete>

	<update id="uptate" parameterType="CommunityVO">
		UPDATE COMMUNITY
		SET
		TITLE =
		#{title},
		CONTENT = #{content},
		REGDATE = SYSDATE
		WHERE com_seq =
		#{com_seq}
	</update>


	<!-- <select id="getBoardList" parameterType="board" resultType="board"> 
		SELECT * FROM BOARD WHERE 1=1 <if test="searchCondition == 'TITLE' "> AND 
		TITLE LIKE '%'|| #{searchKeyword} ||'%' </if> <if test="searchCondition == 
		'CONTENT' "> AND CONTENT LIKE '%'|| #{searchKeyword} ||'%' </if> ORDER BY 
		SEQ DESC </select> <select id="getBoard" parameterType="board" resultType="board"> 
		SELECT * FROM BOARD WHERE SEQ = #{seq} </select> <update id="updateBoard" 
		parameterType="board"> UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content} 
		WHERE SEQ = #{seq} </update> <delete id="deleteBoard" parameterType="board"> 
		DELETE FROM BOARD WHERE SEQ = #{seq} </delete> -->
</mapper>

