<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDAO">
	<insert id="insertUser" parameterType="user">
		INSERT INTO USERS
		(SEQ, NAME, ID, PASSWORD, EMAIL, 
		 ADR_CODE, ADR1, ADR2, PHONE, REGDATE, 
		 GENDER, BIRTH, NICK_NAME
		)
		VALUES ('3', #{name}, #{id}, #{password}, #{email},
				#{adrCode}, #{adr1}, #{adr2}, #{phone}, SYSDATE,
				#{gender}, #{birth}, #{nickName}
		)
	</insert>
	<select id="userIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM USERS WHERE ID = #{id}
	</select>
</mapper>