@charset "UTF-8";
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        /* HTML5 display-role reset for older browsers */
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }

        body {
            line-height: 1;

        }

        ol,
        ul {
            list-style: none;
        }

        blockquote,
        q {
            quotes: none;
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* css 리셋 */

        /* 카테고리 정렬*/
        .production-selling-overview__category ol li,
        .production-selling-navigation__content ol li,
        .production-review__paginator li,
        .production-question-feed__paginator li {
            display: inline;
        }

        .production-selling-navigation__content {
            width: auto;
        }

        .production-selling-overview__cover-image-wrap,
        .carousel__list-wrap,
        .production-selling__detail,
        .production-selling__detail__content {
            display: flex;
        }
        
        
     

    

        /* 컬럼 중앙정렬 */
        .production-selling-overview__container
        {
            margin: 0 5%;
            border: salmon 1px solid;
        }


        .production-selling__detail-wrap{
            margin: 0 5%;
            border: salmon 1px solid;
        }

    



        /* 메인 이미지 크기 왼쪽 */
        .production-selling-cover-image__entry__image {
            width: 558.33px;
            height: 558.33px;
            border-radius: 5%;
        }

        .image {
            width: 56px;
            height: 56px;
            border-radius: 5%;
        }

        /*버튼 이미지 초기화*/
        .production-selling-cover-image__list button,
        .production-selling-header__content button {
            border: 0px;
            outline: 0;
            background-color: white;
        }

        /*공유 칸 부모*/
        .production-selling-header__content {
            position: relative;
        }

        /*스크랩 및 공유 */
        .production-selling-header__action {
            display: flex;
            position: absolute;
            right: 1%;
        }

        /*카테고리 마진 바텀*/
        .production-selling-overview__category {
            margin-bottom: 20px;
        }

        /* 메인 이미지 오른쪽*/
        .production-selling-header__title__brand-wrap {
            margin-bottom: 1rem;
        }

        .production-selling-header__title,
        .production-selling-header__content {
            margin-bottom: 20px;
        }

        .production-selling-header__content p {
            padding: 1px;
        }

        .production-selling-header__price__discount span:first-child {
            font-size: 45px;
            color: #35c5f0;
        }

        .production-selling-header__delivery span {
            display: block;
            padding-bottom: 3px;
        }

        .production-selling-overview__content {
            margin-left: 50px;
        }

        .production-selling-option-form {
            margin-top: 30px;
        }

        .production-selling-header {
            padding-top: 40px;
        }
        
        .selling-option-select-input__option{
        	margin-bottom: 5px;
        }

        /* 메인 이미지 오른쪽 끝*/

        /*상품 css*/
        .production-selling-description__content img{
            width: 100%;
        }
        .production-selling__detail__content{
            margin-right: 1rem;
        }
         .production-selling-table{
            
            margin:5px;
        }
        .production-selling-table th{
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: rgb(209, 211, 209);
            color: rgb(0, 0, 0);
        }
        .production-selling-table td{
            border: 1px solid #ddd;
             padding: 8px;
        }
        
        

        /*리뷰 css*/
        .production-selling-section__header {
            display: flex;

        }

        .production-selling-section__header {
            margin-top: 100px;
        }

        .production-review-feed {
            margin-top: 20px;
        }

        .production-selling-section__right {
            margin-left: 10%;
        }

        /* 페이지 css*/
        .production-selling-header__title__name {
            font-size: 25px;
        }

        .production-review__paginator,
        .production-question-feed__paginator {
            text-align: center;
        }

        /*리뷰 css 끝*/
        

        /* 메인 이미지 크기 끝*/

        /* 스티키 설정 */
        .production-selling-navigation-wrap {
            background-color: #fafafa;
            z-index: 10;
            position: sticky;
            top: 0px;
        }

        .prodproductionuction-selling-navigation__list {
            margin-left: 50px;
            padding: 20px;
        }
        .prodproductionuction-selling-navigation__list li{
            margin-right: 35px;
            height: 100%;
        }
      
        .prodproductionuction-selling-navigation__list li a {

            text-align: center;
            text-decoration: none;
        }
        .prodproductionuction-selling-navigation__list li a:hover{
         
            border-bottom: solid 3px ;
       }

        /*상품 마진*/
        .production-selling-content {
            margin-right: 50px;
        }

        .production-review-item__writer__info {
            display: inline-block;
            margin-bottom: 10px;
            margin-top: 30px;

		}
		
 .review-modal__modal__wrap{ 
     background-color: white;
     width: 50%;
     margin: 5% auto  5% auto;
     z-index: 11;
     margin-bottom: 50px;
} 
.react-modal--center-div{
    margin-top: 50px;
    margin-bottom: 50px;
    width:100%;
    height: 100vh; 
    position: fixed; 
    z-index: 11;
    background-color: rgba(5, 5, 5, 0.5);
    display: none;
}

/* 별점 */
.rating-group {
  display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
 position: absolute !important;
 left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
  display: none
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

/* set default star color */
.rating__icon--star {
  color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}